* {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #111;
  color: white;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #222;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.home-btn {
  display: inline-block;
  background-color: #0161cf;
  color: #fff;
  margin: 0 auto;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(1, 97, 207, 0.3);
  transition: background 0.3s ease;
}

.home-btn:hover {
  background-color: #004fa3;
}

.levels-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.level-box {
  background-color: #222;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.level-box:hover {
  transform: translateY(-5px);
  background-color: #0000004b;
}

.level-number {
  font-size: 1.3rem;
  font-weight: bold;
  color: #00ccff;
}

.level-description {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #ccc;
}

.level-content {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.code-block {
  background-color: #1a1a1a;
  color: #00ffcc;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-family: monospace;
  font-size: 0.9rem;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.btn-group {
  margin-top: 2rem;
  text-align: center;
}

.btn-group button {
  background-color: #0161cf;
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  margin: 0 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(1, 97, 207, 0.3);
  transition: background 0.3s ease;
}

.btn-group button:hover {
  background-color: #004fa3;
}

.hidden {
  display: none !important;
}
/* a{
  color: #00ccff;
  text-decoration: none;
  transition: color 0.3s ease;
} */
.level-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #00ccff;
  font-weight: bold;
  /* text-decoration: underline; */
}
.level-description {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 1rem;
}
